[Unit]
Description=Run FBP Script when using Soletta Devapp in web browser

[Service]
StandardOutput=journal+console
WorkingDirectory=%I
ExecStart=/usr/bin/sol-fbp-runner %I/fbp_runner.fbp

[Install]
WantedBy=multi-user.target
