[Unit]
Description=Run Soletta Development Application server

[Service]
StandardOutput=null
ExecStart=/usr/bin/NODE_BIN_NAME /home/phoenix007/gsoc/soletta-dev-app/server/app.js 1> /dev/null 2>&1
Environment="NODE_ENV=production"

[Install]
WantedBy=multi-user.target
